:root {
    --white: #ffffff;
    --gray:#5c616b;
    --gray2:#757880;
    --black:#1e2025;
    --red:#bb0000;
    --blue1:#daf6ff;
    --blue2:#0aafe6;
    --whiteRed:#f3b7b7;
    --whiteYellow:#f5f5b4;
    --whiteGreen:#c0f5c7;
}
*,*::after,*::before{
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}
body{
    color: white;
    background-color: var(--black);
    width: 100vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
/* Ajustes generales */
.mainAppDiv{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: flex-start;
    flex-direction: column;
    border: 1px solid var(--white);
}
.appTittleDiv, .appContentDiv{
    border: 1px solid var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
 }
 /* 1. app Tittle DIV  */
.appTittleDiv{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   overflow: hidden;
}

.appTittle{
    width: 92%;
    text-align: center;
}
.infoButt{
    border-radius: 100%;
    text-align: center;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
    padding: 8px;
}
.infoButt:hover{
    cursor: pointer;
    box-shadow: 0px 0px 6px 1px var(--white);
}
.modal {
    display: none;
    position: absolute; 
    top: 6%;
    right: -100%;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.8); 
    transition: right 0.5s ease; 
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}

 /* 2. appContentDiv */
 .appContentDiv{
    flex-direction: column;
    padding: 10px;
 }
 /* 2.1 Settings Panel DIV */
.settingsPanelDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 
.inputMod {
    display: flex; 
    align-items: center; 
    width: 100%;
}

.inputMod p {
    flex-shrink: 0; 
    margin-right: 10px;
}

.inputMod input, #transEq {
    flex-grow: 1;
    text-align: center; 
}

 /* 2.1.1 Settings Panel Function Div */
.settingsPanelFunctDiv{
    display: flex; 
    align-items: center; 
    width: 100%;
    overflow: hidden;
}

.settingsPanelFunctDiv p {
    flex-shrink: 0; 
    margin-right: 10px;
}

.settingsPanelFunctDiv input {
    flex-grow: 1;
    text-align: center;
}

.settingsPanelFunctDiv button {
    flex-grow: 0;
    text-align: center;
    border: 1px solid white;
    background-color: black;
    color: var(--white); 
    border-radius: 5px;
}

.settingsPanelFunctDiv button:hover {
    box-shadow: 0px 0px 5px 1px var(--white);
    cursor: pointer;
}

.specialBoard{
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0; 
    position: absolute; 
    right: -100%;
    top: 13.5%;
    background-color: rgba(0, 0, 0, 0.8); 
    transition: right 0.5s ease; 
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.8);
}
#spBordCol1{
    margin-right:10px ;
}
.specialBoard div{
    display: flex;
    flex-direction: column;
    width: 100%;
}


 /* 2.1.2 Settings Panel Izquierdo DIV */
.settingsPanelizqDiv, .settingsPanelderDiv{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    padding-right: 10px;
}

.settingsPanelizqDiv input[type=number]::-webkit-inner-spin-button,
.settingsPanelizqDiv input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 /* 2.2 Table Panel DIV */
.tablePanelDiv{
   width: 100%;
   display: flex;
   flex-direction: column;
}


 /* 2.2.1 Table Tittles div */
.tableTittlesDiv{
    display: flex;
    align-items: center;
}

.tittleElm, .rowElm{
    flex: 1;
    border: 1px solid var(--white);
    height: 50px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.tittleElm{
    color: var(--black);
    background-color: var(--gray2);
}

.tittleElm h2{
    font-size: 1.1vw;
    text-align: center;
}

 /* 2.2.2 Table row div */
.tableRowDiv{
   display: flex;
   align-items: center;
}

 /* 2.2.3 Table select info div */
.tableSelectInfoDiv{
    padding: 10px;
    border: 1px solid var(--white);
}

.tableSelectInfoDiv, .tableSelectInfoDiv div{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.tableSelectInfoDiv button{
    border-radius: 20px;
    color: var(--white);
    background-color: var(--black);
    border: 1px solid var(--white);
    margin-left: 5px;
}

.tableSelectInfoDiv button:hover{
    box-shadow: 0px 0px 5px 1px var(--white);
    cursor: pointer;
}

.tableSelectInfoDiv select{
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--white);
}
 /* 2.3 Error messages DIV */
.errorMessagesDiv{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.errImg{
    width: 5%;
}
.errorMessage{
    color: var(--red);
}
#iteSelect{
    overflow-y: auto;
    text-align: center;
    border-radius: 10px;
}
 /* 2.4 Geo Frame Div */
.geoFrameMainDiv{
    display: none;
    position: absolute;
    top: 5vh;
    right: 5vw;
    height: 90vh;
    width: 90vw;
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.70);
    border: 1px solid white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.geoControlPanel{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 10%;
    padding: 10px;
}
.geoControlPanel h1{
    width: 97%;
    text-align: center;
}
.geoControlPanel button{
    width: 3%;
    background-color: var(--black);
    color: white;
    cursor: pointer;
    border: 1px solid var(--white);
    border-radius: 10px;
}
.geoControlPanel button:hover{
    box-shadow: 0px 0px 2px 2px var(--white);
}

.geoFrameDiv{
    height: 90%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.70);
}
.geoFrameDiv iframe{
    width: 100%;
    height: 100%;
    
}